<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome {{userName}}</title>
</head>
<body>
  <h2>Hello {{userName}}! </h2>
  <p class="intro">We're glad that you joined our Coaching institute as a <b>{{role}}</b>. </p> <br>
  <h3>Here are your <strong>Login credentials</strong> :- </h3>
  <h4>Email :- {{userEmail}}</h4>
  <h4>Password :- {{userPassword}}</h4> </p><br>

  <p class="conclusion">You are successfully registered for the <b>{{sessionStart}} - {{sessionEnd}}</b> session.</p>
  <h4>We wish you luck for your future!</h4>
</body>
</html>