<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome {{userName}}</title>
</head>
<body>
  <h2>Hello {{userName}}! </h2>
  <p>We're glad that you joined our Coaching institute. </p>
  <p>Here are your Login credentials :- </p>
  <h6>Email :- {{userEmail}}</h6>
  <h6>Password :- {{userPassword}}</h6>

  <p>You are successfully registered for this session {{sessionStart}} - {{sessionEnd}} .</p>
  <h5>We wish you luck for your future!</h5>
</body>
</html>